﻿.custom-lnk {
     text-align:center;
    padding: 25px 15px!important;
    margin: 5px!important;
    min-width: 100px!important;
    line-height:0;
    overflow: hidden;
    text-overflow: ellipsis;
}

body {
    background-color:ghostwhite;
}

@media(max-width:767px){
    .navbar-brand {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 75%;
    }

    .custom-lnk {
        text-align:left;
    }
}
@media(min-width:768px){

}



/*@media(max-width:767px){}
@media(min-width:768px){}
@media(min-width:992px){}
@media(min-width:1200px){}*/